<div class="w-75 m-4">
  <!-- CURRENT EPISODE -->
  <ng-container>
    <div class="m-2">
      <h2>Aktuelle Episode</h2>
      <overlay-episode (item)="(feed[0])"></overlay-episode>
      <player (item)="(feed[0])"></player>
      <hr />
      <div class="m-2"><h2>Weitere Episoden</h2></div>
    </div>
  </ng-container>

  <!-- PREVIOUS EPISODES -->
  <ng-container *ngFor="let year of years">
    <div class="m-2">
      <h5>Episoden aus {{ year }} ({{ getNumberOfEpisodes(year) }})</h5>
    </div>
    <ng-container *ngFor="let item of feed | slice : 1">
      <button
        *ngIf="year === item.year"
        mat-raised-button
        matTooltip="{{ getTitle(item) }}"
        [matTooltipPosition]="'above'"
        (click)="openEpisode(item)"
      >
        Akt {{ item.episodeNr }}
      </button>

      <!-- TODO: move this over to overlay-episode 
      <h3>{{ item.title[0] }}</h3>
      <img src="item.itunes:image[0]" />
      <div [innerHTML]="sanitizeHtml(item.description[0].split('<br>')[0])"></div>
      Kapitel:
      <div [innerHTML]="sanitizeHtml(getChapters(item.description[0]))"></div>
      <hr />
      -->
    </ng-container>
    <hr />
  </ng-container>
</div>
